
test
{{#if user.posts}}
{{#each user.posts}}
<h2>Post History</h2>
<h3>{{title}}</h3>
<p>{{post_text}}</p>
<form action="/deletepost/{{id}}" method="POST">
<button type="submit">Delete Post</button>
</form>
<form action="/edit/{{id}}" method="GET">
<button type="submit">Edit Post</button>
</form>
{{/each}}
{{else}}
<h2>No Posts Yet</h2>
{{/if}}

{{#if user.comments}}
{{#each user.comments}}
<h2>Comment History</h2>
<h3>{{comment_text}}</h3>
{{/each}}
{{else}}
<h2>No Comments Yet</h2>
{{/if}}

