{{#if user.posts}}
    <h2>Post History</h2>
{{#each user.posts}}
<div class="mt-4">
    <h3>{{title}}</h3>
    <p>{{post_text}}</p>
    <form action="/deletepost/{{id}}" method="POST">
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>
    <form action="/edit/{{id}}" method="GET">
        <button type="submit" class="btn btn-primary">Edit Post</button>
    </form>
</div>
{{/each}}
{{else}}
<div class="mt-4">
    <h2>No Posts Yet</h2>
</div>
{{/if}}

{{#if user.comments}}
    <h2>Comment History</h2>
{{#each user.comments}}
<div class="mt-4">
    <h3>{{comment_text}}</h3>
</div>
{{/each}}
{{else}}
<div class="mt-4">
    <h2>No Comments Yet</h2>
</div>
{{/if}}