<body>
    <main>
        {{#if loggedIn}}
        <section class="my-4">
            <form action="/newpost" method="GET">
                <button type="submit" class="btn btn-primary">Create a new post</button>
            </form>
        </section>
        {{else}}
        <section class="my-4">
            <form action="/login" method="GET">
                <button type="submit" class="btn btn-primary">Login to create a new post</button>
            </form>
        </section>
        {{/if}}

        {{#if post}}
        {{#each post}}
        <article class="post-container my-4">
            <div class="post">
                <div class="post-title">
                    <h2>{{title}}</h2>
                </div>
                <div class="post-body">
                    <p>{{post_text}}</p>
                </div>
                <div class="post-author">
                    <h3>Author: {{user.username}}</h3>
                </div>
                <form action="/post/{{id}}" method="GET">
                    <button type="submit" class="btn btn-secondary">View all comments</button>
                </form>
            </div>
        </article>
        {{/each}}
        {{else}}
        <div class="my-4">
            <h2>No posts yet!</h2>
        </div>
        {{/if}}
    </main>

</body>