<body>

<section class="post-container">

  <article class="post-container">
    <div class="post">
      <div class="post-title">
        <h2>{{post.title}}</h2>
      </div>
      <div class="post-body">
        <h4>{{post.post_text}}</h4>
      </div>
      <div class="post-author">
        <p>Author: {{post.user.username}}</p>
      </div>
    </div>
  </article>

  {{#if loggedIn}}
  <section>
    <div>
      <form action="/newcomment/{{post.id}}" method="POST">
        <div class="mb-3">
          <textarea name="comment_text" id="comment_text" class="form-control" rows="5" placeholder="Add a comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </form>
    </div>
  </section>
  {{/if}}

  {{#if post.comments}}
    <h2>Comments: </h2>
  {{#each post.comments}}
  <section>
    <div>
      <h4>{{comment_text}}</h4>
    </div>
    <div>
      <p>Author: {{user.username}}</p>
    </div>
    {{#ifCond user_id '===' currentUserID}} <!-- if the user_id of the comment matches the current user's id, show the delete and edit buttons.... but couldnt get it to work :< 
        the ifCond function seems to work, but for whatever reason, the user_id and currentUserID will never pass this condition-->
    <form action="/deletecomment/{{id}}" method="POST">
      <button type="submit" class="btn btn-danger">Delete Comment</button>
    </form>
    <form action="/editcomment/{{id}}" method="GET">
      <button type="submit" class="btn btn-secondary">Edit Comment</button>
    </form>
    {{/ifCond}}
  </section>
  {{/each}}
  {{/if}}
</section>


</body>