<body>

    <section class="post-container">

        <article class="post-container">
            <div class="post">
                <div class="post-title">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="post-body">
                    <p>{{post.post_text}}</p>
                </div>
                <div class="post-author">
                    <h3>Author: {{user.username}}</h3> <!--fix later-->
                </div>
            </div>
        </article>

        <section>
            <div>
                <form action="/newcomment/{{post.id}}" method="POST">
                    <textarea name="comment_text" id="comment_text" cols="30" rows="5"></textarea>
                    <button type="submit">Add Comment</button>
                </form>
            </div>
        </section>

        {{#if post.comment}}
        {{#each post.comment}}
        <section>
            <div>
                <h3> {{post.comment_text}} </h3>
            </div>
            <div>
                <h4> {{post.comment.username}} </h4>
            </div>
        </section>
        {{/each}}
        {{/if}}
    </section>

</body>